@model StockModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>L <a href="#">from Docker with love <!></a>.</p>
    <ul>
        @foreach (string stock in Model.Stocks)
        {
            <li>@stock</li>
        }
    </ul>
</div>
